.page__tutorboost {
  width: 100%;
  height: 100%;
  outline: none;
  position: relative;
  .img__page {
    width: 100%;
    height: auto;
    max-width: 2500px; /* Set a max width to prevent the image from becoming too large on larger screens */
    margin: 0 auto; /* Center the image horizontally */
  }
}
.page__tutorboost:focus {
  outline: none;
}

.spinner {
  display: block;
  margin: 0 auto;
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-top: 8px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
