.page__tutorboost {
  width: 100%;
  height: 100%;
  outline: none;
  div:first-child {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img__page {
    width: 100%;
    height: auto;
    max-width: 2500px; /* Set a max width to prevent the image from becoming too large on larger screens */
    margin: 0 auto; /* Center the image horizontally */
  }
  div:last-child {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 2rem;
    padding: 1rem 2rem 2rem;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2.5rem;
    p {
      font-size: 1.8rem;
      font-weight: 500;
    }

  }
}
.page__tutorboost:focus {
  outline: none;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.coming__soon {
  display: flex;
  height: 100vh;
  justify-content: center;
  gap: 48px;
  background-image:url('../assets/background3.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  h1 {
    color: white;
  }
  a {
    position: absolute;
    top: 50px;
    left: 10.42%;
  }
}

@media only screen and (max-width: 600px) {
  .page__tutorboost {
    div:last-child {
      display: flex;
      gap: 5px;
      font-size: 1rem;
      padding-bottom: 1.3rem !important;
      p {
        font-size: .7rem;
      }
    }
  }
  .coming__soon {
    a {
      width: 20%;
      top: 25px;
      img {
        object-fit: cover;
        max-width: 100%;
        height: auto;  
      }
    }
  }
}