@import '../../index.scss';

.home {
  width: 100%;
}

.home__designer {
  width: 100%;
  height: 120vh;
  color: white;
}

.hiddentext {
  visibility: hidden;
}

.home__userdetails {
  width: 100%;
  height: 100vh;
}


.home__gallery {
  width: 100%;
  height: 100%;
  padding: 20.42% 0 10.42% 0;
  position: relative;
  line-height: 0; 
}
.home__gallery.active {
  opacity: 1;
}
.user__projects {
  width: 100%;
  height: 100%;
  padding: 10.42%; 
}
.users__projects.active {
  opacity: 1;
}

.home__contact {
  width: 100%;
  height: 100vh;
}


.section {
  background-image: url('../../assets/background.png');
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  z-index: -1;
  pointer-events: auto;
  opacity: 0;
  animation: fadeOut 1s ease-in-out forwards;
  max-width: 2500px;
  margin: 0 auto; 
}
.sections {
  background: #f5f0ec;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: auto;
  opacity: 0;  
  max-width: 2500px;
  margin: 0 auto; 
  transition: opacity 1s ease-in-out, transform 1.2s ease-in-out;
  transform: translateZ(-1px) scale(1.09);
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


.sections.active0 {
  opacity: 1;
  transition: opacity 1.2s ease-in-out ;
  background-image: url('../../assets/background2.png');
}
.sections.active {
  opacity: 1;
  transition: opacity 1.2s ease-in-out ;
  background-image: url('../../assets/background3.png');
  transform: translateZ(-1px) scale(1);
}
.sections.active2 {
  opacity: 1;
  background-color: $primaryText;
  transform: translateZ(-1px) scale(1);
}
.sections.active3 {
  opacity: 1;
  transition: opacity 1.2s ease-in-out ;
  background-image: url('../../assets/background.png');
  transform: translateZ(-1px) scale(1);
}
.sections.active4 {
  opacity: 1;
  transition: opacity 1s ease-in-out ;
  background-color: $SecondaryText;
  transform: translateZ(-1px) scale(1);
}
.sections.active5 {
  opacity: 1;
  background-image: url('../../assets/logobg.png');

  transform: translateZ(-1px) scale(1);
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
}

@keyframes boom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes colorChange {
  0% {
    background-color: #f5f0ec;
  }
  100% {
    background-color: $SecondaryText;
  }
}

.section.section-hidden {
  opacity: 0;
}

.section1{
  background-image: url('../../assets/background.png');
}

.section2{
  background-image: url('../../assets/background2.png');
}

.section3{
  background-color: $SecondaryText;
 
  
}
.section4 {
  background-color: $primaryText;
 
  
}
// // .section5 {
// //   background-color: yellow;
// // }
// // .section:not(.section1):not(.section2):not(.section3) {
// //   background-color: #f5f0ec;
// // }

// .section.hidden {
//   visibility: hidden;
//   pointer-events: none;
//   opacity: 0;
// }




.headers {
  width: 100%;
  height: 100%;
  position: relative;
}
.header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 149px 0 64px 0;
  height: 100vh;
}

.header h1:first-child {
  padding-left: 10.42%;
}
.header h1:nth-child(2) {
  text-align: center;
}
.header .header__content{
  height: 100%;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 36px;
  font-family: $fontText;
  text-transform: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.header h1:last-child {
  align-self: flex-end;
  padding-right: 10.42%;
}
.circular-text-container {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.circular-text-container.white {
  color: white !important;
}
.user__details.active {
  opacity: 1;
}
.user__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0 10.42%;
  color: white;
  text-align: center;
  position: relative;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;

  div {
    position: absolute;
    bottom: 40px;
    right: 10.42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 40px 13px;
    cursor: pointer;
    h1 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      max-width: 100%;
      height: auto;    
    }
  }
}
.users__projects {
  display: flex;
  flex-direction: column;
  gap: 64px;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  z-index: 999; 
  div {
    display: flex;
    justify-content: space-between;
  }
  .users__project__view {
    margin-top: 75px;
    width: 140px;
    height: 140px;
    z-index: 999;
    a {
      border-radius: 50%;
      border: 1px solid $primaryText;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 46px;
      gap: 12px;
    }
    h1 {
      font-size: 18px;
      line-height: 24px;
      color: $primaryText;
    }
  }
  .users__project__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    span {
      display: flex;
      gap: 40px;
      align-items: center;
      a {
        display: flex;
      }
      a:first-child {
        color: #E84C88;
        font-size: 43.75px;
      }
      a:nth-child(2) {
        color: white;
        background-color: #105DFB;
        border-radius: 50%;
        height: 43.75px;
        width: 43.75px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 29.05px;
      }
      a:nth-child(3) {
        color:  #47ACDF;
        font-size: 43.75px;
      }
      a:last-child {
        background-color:  #1275B1;
        color: white;
        border-radius: 50%;
        height: 43.75px;
        width: 43.75px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23.44px;
      }

    }
  }
}
.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 64px;
  padding: 0px 10.42%;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  .contact__talk {
    display: flex;
    align-items: center;
    gap: 64px;
    line-height: 195px;
    color: #8CB9B4;
  }
  p {
    color: white;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    #contact__mail {
      border: 1px solid white;
      padding: 12px 24px;
      text-transform: uppercase;
      color: white;
      font-family: $fontText;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
    span {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: center;
      a:first-child {
        color: white;
        font-size: 24px;
        display: flex;
        justify-content: center;
      }
      a:last-child {
        color: #1A1A1A;
        border: 1px solid white;
        border-radius: 3px;
        background-color: white;
        font-size: 17px;
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  
}
.contact.active {
  opacity: 1;
}


.gallery__container {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  overflow-x: auto;
  
}
.gallery {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  align-items: center;
  margin: 20px 0;
  transform: translateX(0);
  div {
    width: 500px; /* adjust as needed */
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    img {
      object-fit: cover;
      max-width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }
}
.gallery__container.active {
  opacity: 1;
}

div.animate {
  animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}


@media only screen and (max-width: 1100px) {
  .user__projects {
    div {
      display: flex;
      flex-direction: column;
    }
    .users__project__links {
      display: flex;
      flex-direction: column-reverse;
      gap: 64px;
     .span {
      background: aqua;
      display: flex;
      
     }
    }
    .users__project__view {
      align-self: flex-end;
    }
  }
  .contact{
    span {
        gap: 20px;
    }
  }
  .circular-text-container {
    visibility: hidden;
  }
  .user__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .headers {
    .header {
      .header__content {
        font-size: 1.2rem;
      }
    }
  }
  .gallery {
    div {
      width: 300px
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact__talk {
      display: flex;
      gap: 16px;
    }
  }
  .user__details {
    display: flex;
    flex-direction: column;
    gap: 0;
    h6 {
      margin-top: 1rem ;
      font-size: 1.3rem;
    }

    div {
      padding: 20px 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      bottom: 10px;
      h1 {
        font-size: .8rem;
      }
    }
  }
  
}
@media only screen and (max-width: 400px) {
  .headers {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      height: calc(100vh - 70px);
      padding: 0;
      h1 {
        font-size: 3rem;
        padding: 0 !important;
      }
      h1:last-child {
        align-self: center;
      }
      .header__content {
        font-size: .9rem;
        padding: 0 10.42% !important;
        
      }
    }
  }
  .user__details {
    display: flex;
    flex-direction: column;
    gap: 0;
    h6 {
      margin-top: 1rem ;
      font-size: 1.3rem;
    }
    div {
      padding: 20px 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      right: auto;
      bottom: 10px;
      h1 {
        font-size: .8rem;
      }
    }
  }
}
